#eliminar {
  color: #fff;
  background-color: #e6251f;
  border-color: #f57a00;
  border-radius: 10%;
}
#actualizar {
  background-color: #56baed;
  border-color: #56baed;
  border-radius: 10%;
}

input[type="text"], input[type="number"] {
  background-color: #ffffff;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 100%;
  height: 20%;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 120%;
}

#carta{
  border-radius: 5%;
}